#top-panel td > a {
  background: url("http://www.netapp.com/us/static/images/header.logo.desktop.png") 0 0 no-repeat;
  display: block;
  width: 130px;
  height: 40px;
  margin: 10px 0 10px 10px; 
}
#top-panel td > a img {
  display: none; 
}